<a href="https://colab.research.google.com/github/RChandana/R/blob/main/R_Ques1_Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
# Enter the elements {5, 12, 7, 2, 6, 45, 11, 3, 63} and store in a variable 洧논
x =  c(5, 12, 7, 2, 6, 45, 11, 3, 63)
x

[1]  5 12  7  2  6 45 11  3 63

In [14]:
# Find the number of elements of 洧논
length(x)

[1] 9

In [15]:
# Find the 5th, 8th elements
x[5]
x[8]

[1] 6

[1] 3

In [16]:
# Find the minimum element of 洧논.
min(x)

# Find the maximum element of 洧논.
max(x)

[1] 2

[1] 63

In [17]:
# Enter the data {1, 2, .... ,19,20} in a variable 洧논.
x = c(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [18]:
# Find the 3rd element in the data list.
x[3]

# Find 3rd to 5th element in the data list.
x[3:5]

[1] 3

[1] 3 4 5

In [19]:
# Find 2nd, 5th, 6th, and 12th element in the list.
x[2]
x[5]
x[6]
x[12]

[1] 2

[1] 5

[1] 6

[1] 12

In [20]:
# Print the data as {20, 19, ..., 2, 1} without again entering the data.
x[20:1]

 [1] 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1